<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="main-container">

    <div class="card form-card">

        <h2>Create Account</h2>

        <form method="POST">

            <input type="text"
                   name="username"
                   placeholder="Enter Username"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Enter Password"
                   required>

            <button type="submit" class="btn full-btn">
                Register
            </button>

        </form>

        <p class="bottom-text">
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</div>

</body>
</html>